<MainHeader></MainHeader>
<section class="container py-3 w-100">
  <SideMenu></SideMenu>
  <hr />
  <div class="container-fluid my-2 bg-white-50 p-0">
    <div class="text-center text-font-base pt-2">
      <h2 class="m-0"><i class="fas fa-atlas"></i> Email Directory</h2>
      <p class="subtitle mb-2">Manage of the Users that receive reports</p>
    </div>
    <div class="d-flex justify-content-start my-2">
      <form class="m-0">
        <div class="form-group input-group p-0 m-0 mw-100" style="width: 300px;">
          <div class="input-group-prepend">
            <span class="input-group-text w"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" type="text" [formControl]="filterInput" placeholder="Keyword..." />
          <div class="input-group-append" *ngIf="txtSearch.length>0">
            <button class="btn btn-outline-secondary" type="button" (click)="CleanSearch()"><i
                class="fas fa-times-circle"></i></button>
          </div>
        </div>
      </form>
      <a class="btn btn-light btn-outline-dark text-black mx-2 my-0" nz-tooltip nzTooltipTitle="Add New Recipient"
        nzTooltipColor="Blue" nzTooltipPlacement="top" style="text-decoration: none; cursor: pointer;"
        (click)="open(ModelAddNew)">
        <i class="fas fa-plus-square fa-1x"></i>
      </a>
    </div>
    <div class="text-font-base">
      <table class="table table-responsive table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Category</th>
            <th style="width: 100px;">Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of EDListObs | slice: (page-1) * pageSize: (page-1)* pageSize + pageSize">
            <td class="align-middle">{{item.FullName}}</td>
            <td class="align-middle">{{item.Email}}</td>
            <td class="align-middle">{{item.Category}}</td>
            <td class="align-middle {{item.Status? 'text-success': 'text-danger'}}" *ngIf="item.Status">
              <a (click)="ChangeStatus(item.RecipientID)" nz-tooltip nzTooltipTitle="Disable?" nzTooltipColor="Red"
                nzTooltipPlacement="top">
                <i class="fas fa-check-circle fa-1x"></i> Active
              </a>
            </td>
            <td class="align-middle {{item.Status? 'text-success': 'text-danger'}}" *ngIf="!item.Status">
              <a (click)="ChangeStatus(item.RecipientID)" nz-tooltip nzTooltipTitle="Enable?" nzTooltipColor="Green"
                nzTooltipPlacement="top">
                <i class="fas fa-times-circle fa-1x"></i> Inactive
              </a>
            </td>
            <td class="text-center">
              <a nz-tooltip nzTooltipTitle="Edit" nzTooltipColor="Green" nzTooltipPlacement="top"
                style="text-decoration: none; cursor: pointer;" (click)="open(ModelEdit)">
                <i class="fas fa-edit fa-15x"></i>
              </a>
              <ng-template #ModelEdit let-c="close" let-d="dismiss">
                <div class="modal-header p-0 bg-dark">
                  <div class="col text-center">
                    <h3 class="mx-0 my-2 text-white text-font-base">Edit Info</h3>
                  </div>
                </div>
                <div class="modal-body">
                  <EmailDirectoryUpsert [EmailDirectoryDetail]="item"></EmailDirectoryUpsert>
                  <button type="button" class="btn btn-outline-dark btn-block" (click)="c('Close');">CLOSE</button>
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false"
        [boundaryLinks]="true" [collectionSize]="EDListObs.length" class="p-0" *ngIf="EDListObs.length > pageSize">
      </ngb-pagination>
    </div>
    <div class="text-font-base">
      <a title="Add Recipient" class="btn btn-light btn-outline-dark text-black mr-2 my-2"
        style="text-decoration: none; cursor: pointer;" (click)="open(ModelAddNew)">
        <i class="fas fa-plus-square fa-1x"></i> Add Recipient
      </a>
      <ng-template #ModelAddNew let-c="close" let-d="dismiss">
        <div class="modal-header p-0 bg-dark">
          <div class="col text-center">
            <h3 class="mx-0 my-2 text-white text-font-base">New Recipient</h3>
          </div>
        </div>
        <div class="modal-body">
          <EmailDirectoryUpsert></EmailDirectoryUpsert>
          <button type="button" class="btn btn-outline-dark btn-block" (click)="c('Close');ngOnInit();">CLOSE</button>
        </div>
      </ng-template>
    </div>
  </div>
</section>
